body {
    font-family: 'Open Sans', sans-serif;
}

.topMen {
    background-color: rgb(71,78,93);
}

.logo a {
    font-size: 30px;
}

.textRight ul {
    display: block;
    position: absolute;
    right: 0px;
    padding-right: 0;
}

.whiteText a {
    color: white;
}

button.navbar-toggle {
    border: 1px solid #FFF6F0;
}

span.glyphicon {
    color: #FFF6F0;
}

.jumbotron {
    padding: 0;
}

.container {
    padding: 0;
    margin: 0;
}

.leftImg {
    width: auto;
    float: left;
}

.rightImg {
    width: auto;
    float: right;
}

header {
    background-color: rgb(71,78,93);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
}

.thumbLeft {
    display: block;
    padding: 30px;
}

.thumbRight {
    display: block;
    padding: 30px;
    background-color: rgb(71,78,93);
    color: white;
}

.greyButton {
    background: rgb(71,78,93);
    border-color: rgb(71,78,93);
}

.greyButton.btn .active {
        background: rgb(71,78,93);
}

.whiteButton {
    background: white;
    color: rgb(71,78,93);
    border-color: rgb(71,78,93);
}


/* Amenities */
.gridSpace {
      padding-top:20px;
      padding-bottom:20px;
}

.textOverImgLeft{
    display:block;
    padding-right:0;
    text-align:right;   
}

.textOverImgRight{
    display:block;
    padding-left:0;
    text-align:left;   
}

.textOverImgCenter{
    display:block;    
    text-align:center;   
}

.textOverImgLeft h3 span{
    position: absolute;
    color: white;
    background-color: rgba(50, 50, 50,0.7);
    top:40%;
    left:50%;
    padding:20px;
}
.textOverImgRight h3 span{
    position: absolute;
    color: white;
    background-color: rgba(50, 50, 50,0.7);
    bottom:40%;
    right:50%;
    padding:20px;   
}

.textOverImgCenter h3 span{
    position: absolute;
    color: white;
    background-color: rgba(50, 50, 50,0.7);
    top:40%;
    left:35%;
    padding:20px;
}
.spaceText{
    text-align:center;  
}

.textOverImgRight{
    display:block;
    padding-left:0;
    text-align:left;   
}

/* Carousel Section*/
.carousel-indicators li{   
    border: 1px solid rgb(71,78,93);    
}

.carousel-indicators .active{
    background-color: rgb(71,78,93);
    border: 2px solid rgb(71,78,93);    
}

.carousel-inner{
    padding-bottom:70px;      
}

.item2 {
    text-align:center;
}

/* Form Section */
.formRow{
    padding-top:50px;
    padding-bottom:20px;
}
.infoCol{
    padding-left:40px;
    color:rgb(71,78,93);
}

.form-control{
    width:75%;
}

textarea{
    margin-top:10px;
}

/* Footer */
 .footCont{
     text-align:center;
     background-color:rgb(71,78,93);
     color:white;
 }

